/* ------------------------------------
=========================================
<%= projectName %> - <%= projectDescription %>
Version: <%= projectVersion %> (Initial Release)
Designed By: <%= projectAuthor %>
=========================================
-----------------------------------------*/

body {
	margin:0;
}

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}